html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: "Century Gothic", "Tahoma", "Geneva", sans-serif;
}

h1, h2, h3, .barra-navegacion a {
    font-family: "Audiowide", "Century Gothic", "Tahoma", "Geneva", sans-serif;
}

p {
    line-height: 1.5;
}

cite {
    font-weight: bold;
}

/* * {
    border: solid 1px #d31e69;
} */

::selection{
    background-color: blueviolet;
}

ul {
    padding-left: 15px;
}

li {
    line-height: 1.5;
}

.titulo {
    text-align: center;
    font-size: larger;
    text-shadow:
    /* posicion Horizontal | Posicion Vertical | blur | Color */
    0 0 5px #ff00d0,
    0 0 10px #ff00d0,
    0 0 20px #ff00d0,
    0 0 40px #d805b1,
    0 0 80px #d805b1;
}

.barra-navegacion {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
    transition: opacity 0.5s linear;
}

.barra-navegacion a {
    text-decoration: none;
    padding: 0px 5px 5px 5px;
    color: white;
    transition: transform 0.5s linear;
    font-size: 1em;
}

.barra-navegacion a:hover {
    font-weight: bold;
    text-shadow: 
    0 0 5px #04BCFF,
    0 0 10px #04BCFF,
    0 0 20px #04BCFF,
    0 0 40px #04a3dd,
    0 0 80px #04a3dd;
    transform: translateY(-5px);
}


.logotipo {
    max-width: 50px;
    transition: transform 1s ease-in-out;
}

.logotipo:hover {
    transform: rotate(360deg);
}

.contenedor-info-pagina {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    background-image: linear-gradient(black, #2B003F,#2B003F, black);
    border-radius: 10px;
    gap: 10px;
}

.nombre-artista {
    text-align: center;
    font-size: 3em;
    padding: 10px;
    text-shadow:
    0 0 5px #04BCFF,
    0 0 10px #04BCFF,
    0 0 20px #04BCFF,
    0 0 40px #04a3dd,
    0 0 80px #04a3dd;
}

.artista {
    width: 100%;
    display: flex;
}

.contenedor-info-general {
    width: 100%;
    min-height: 100%;
    max-width: 450px;
    position: relative;
    padding: 0px 10px 10px 10px;
    transition: transform 1s ease-in-out;
}

.info-general {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    user-select: none;
    padding: 0px 20px 20px 20px;
    transition: opacity 0.8s ease-in-out;
}

.info-general h2, h3 {
    margin-top: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.info-general h2 {
    text-shadow:
    0 0 5px #11ff00,
    0 0 10px #11ff00,
    0 0 20px #11ff00,
    0 0 40px #12db03,
    0 0 75px #12db03;
}

.info-general h3 {
    text-shadow:
    0 0 5px #ff00d0,
    0 0 10px #ff00d0,
    0 0 20px #ff00d0,
    0 0 40px #d805b1,
    0 0 80px #d805b1;
}

.info-general p {
    text-align: justify;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.links-externos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: scale(0);
    transition: transform 0.8s linear;
}

.links-externos img {
    width: 100%;
    max-width: 80px;
    border-radius: 15px;
    padding: 5px;
    filter: grayscale(100%);
    transition: transform 0.5s linear, filter 1s linear;
}

.links-externos img:hover {
    transform: translateY(-10px);
    filter: none;
}

.imagen-artista {
    width: 100%;
    min-height: 100%;
    border-radius: 20px;
    min-width: 400px;
    max-width: 450px;
    transition: filter 1s linear, opacity 1s linear;
}

.contenedor-info-general:hover .info-general {
    opacity: 1;
    user-select: auto;
}

.contenedor-info-general:hover .info-general p {
    opacity: 1;
}

.contenedor-info-general:hover .info-general h2,.contenedor-info-general:hover .info-general h3 {
    opacity: 1;
}

.contenedor-info-general:hover .links-externos {
    transform: scale(1);
}

.contenedor-info-general:hover .imagen-artista {
    filter: blur(3px) grayscale(100%);
    opacity: 0.5;
}

.info-artista {
    margin: 0;
    padding: 0px 10px 10px 10px;
    text-align: justify;
    font-size: 1.1em;
}

.info-artista a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    color: white;
    transition: transform 0.5s ease-in-out, text-shadow 1s ease-in-out;
}

.animacion-color {
    text-shadow:
    0 0 5px #04BCFF,
    0 0 10px #04BCFF,
    0 0 20px #04BCFF,
    0 0 40px #04a3dd,
    0 0 80px #04a3dd;    
}

.animacion-color2 {
    text-shadow:
    0 0 5px #ff00d0,
    0 0 10px #ff00d0,
    0 0 20px #ff00d0,
    0 0 40px #d805b1,
    0 0 80px #d805b1;
}

.animacion-color3 {
    text-shadow:
    0 0 5px #11ff00,
    0 0 10px #11ff00,
    0 0 20px #11ff00,
    0 0 40px #12db03,
    0 0 75px #12db03;  
}

.info-artista a:hover {
    transform: scale(0.9);
}

.info-artista p:first-child{
    margin-top: 0;
}

footer {
    padding: 1rem;
    text-align: center;
}

address {
    display: inline;
}

address a {
    color: white;
    font-weight: bold;
    text-decoration: none;

}

/* ################################################################## */
/* Tableta */
@media (min-width: 481px) and (max-width: 1024px) {
    .barra-navegacion {
        justify-content: center;
    }

    .contenedor-info-pagina {
        justify-content: none;
        height: auto;
    }

    .artista {
        flex-direction: column;
    }

    .nombre-artista {
        text-align: center;
    }
    .contenedor-info-general {
        max-width: none;
    }
    .imagen-artista {
        display: block; 
        margin: auto;
        width: 100%;
        max-width: none;
        height: auto;
    }

    .info-artista, .info-general {
        font-size: 1.2em;
    }
    .links-externos {
        justify-content: space-around;
    }

    .links-externos img {
        max-width: 100px;
    }   
}

/* Telefono */
@media (max-width: 767px) {
    .barra-navegacion {
        justify-content: center;
    }

    .barra-navegacion a {
        text-align: center;
        font-size: 0.9em;
    }

    .logotipo {
        width: 45px;
    }

    .info-general {
        font-size: 0.9em;
    }

    .artista {
        flex-direction: column;
    }

    .imagen-artista {
        width: 100%;
        min-width: 300px;
    }

    .contenedor-info-general {
        overflow: hidden;
    }

    .info-artista {
        font-size: 1em;
    }

    .links-externos img{
        max-width: 60px;
    }
}