html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: "Century Gothic", "Tahoma", "Geneva";
    font-size: 1rem;
}
p {
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    /* border: solid 1px #d31e69; */
}

.barra-navegacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    /* position: sticky;
    top: 0px; */
    z-index: 1;
    transition: opacity 0.5s linear;
}

.barra-navegacion-no-visible {
    opacity: 0;
}

.barra-navegacion a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: white;
    transition: transform 0.5s linear;
}

.barra-navegacion a:hover {
    text-shadow: 
    0 0 5px #04BCFF,
    0 0 10px #04BCFF,
    0 0 20px #04BCFF,
    0 0 40px #04a3dd,
    0 0 80px #04a3dd;
    transform: translateY(-5px);
}


.logotipo {
    width: 50px;
    height: 50px;
    transition: transform 1s ease-in-out;
}

.logotipo:hover {
    transform: rotate(360deg);
}

.contenedor-info-pagina {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    border-radius: 10px;
    margin: 10px;
}

.nombre-artista {
    text-align: center;
    font-size: 3em;
    padding: 10px;
    text-shadow: 
    0 0 5px #fb0b6f,
    0 0 10px #fb0b6f,
    0 0 20px #fb0b6f,
    0 0 40px #d31e69,
    0 0 80px #d31e69;
}

.artista {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contenedor-info-general {
    /* background-color: #11ff00; */
    width: 100%;
    min-height: 100%;
    position: relative;
    padding: 0px 10px 10px 10px;
}

.info-general {
    /* background-color: #d31e69ae; */
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    padding: 0px 10px 10px 10px;
    transition: opacity 0.8s ease-in-out;
}

.info-general h2, h3 {
    margin-top: 10px;
    text-align: center;
}

.info-general h2 {
    text-shadow:
    0 0 5px #11ff00,
    0 0 10px #11ff00,
    0 0 20px #11ff00,
    0 0 40px #12db03,
    0 0 75px #12db03;
}

.info-general h3 {
    text-shadow:
    0 0 5px #ff00d0,
    0 0 10px #ff00d0,
    0 0 20px #ff00d0,
    0 0 40px #d805b1,
    0 0 80px #d805b1;
}

.info-general p {
    text-align: justify;
}

.links-externos {
    width: 100%;
    /* position: absolute;
    bottom: 0;
    left: 0; */
    display: flex;
    justify-content: space-between;
    transform: scale(0);
    transition: transform 0.8s linear;
    /* background-color: #04a3dd; */
}

.links-externos img {
    width: 100%;
    max-width: 80px;
    border-radius: 15px;
    padding: 5px;
    filter: grayscale(100%);
    transition: transform 0.5s linear, filter 1s linear;
}

.links-externos img:hover {
    transform: translateY(-10px);
    filter: none;
}

.imagen-artista {
    width: 100%;
    min-height: 100%;
    border-radius: 20px;
    min-width: 400px;
    /* padding: 0px 10px 10px 10px; */
    transition: filter 1s linear, opacity 1s linear;
}

.contenedor-info-general:hover .info-general {
    opacity: 1;
    user-select: none;
}

.contenedor-info-general:hover .links-externos {
    transform: scale(1);
}

.contenedor-info-general:hover .imagen-artista {
    filter: blur(3px) grayscale(100%);
    opacity: 0.3;
}

.info-artista {
    margin: 0;
    padding: 0px 10px 10px 10px;
    text-align: justify;
    font-size: 1.1em;
}

.info-artista a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    color: white;
    transition: transform 0.5s ease-in-out;
}

.animacion-color {
    text-shadow:
    0 0 5px #04BCFF,
    0 0 10px #04BCFF,
    0 0 20px #04BCFF,
    0 0 40px #04a3dd,
    0 0 80px #04a3dd;    
}

.animacion-color2 {
    text-shadow:
    0 0 5px #ff00d0,
    0 0 10px #ff00d0,
    0 0 20px #ff00d0,
    0 0 40px #d805b1,
    0 0 80px #d805b1;
}

.animacion-color3 {
    text-shadow:
    0 0 5px #11ff00,
    0 0 10px #11ff00,
    0 0 20px #11ff00,
    0 0 40px #12db03,
    0 0 75px #12db03;  
}

.info-artista a:hover {
    transform: scale(0.9);
}

.info-artista p:first-child{
    margin-top: 0;
}


footer {
    padding: 1rem;
    text-align: center;
}

/* ################################################################## */
/* Tableta */
@media (min-width: 768px) and (max-width: 1024px) {
    .barra-navegacion {
        justify-content: center;
    }

    .contenedor-info-pagina {
        justify-content: none;
        height: auto;
    }

    .artista {
        flex-direction: column;
    }

    .nombre-artista {
        text-align: center;
    }
    .imagen-artista {
        display: block; 
        margin: auto;
        width: 100%;
        height: auto;
    }

    .info-artista, .info-general {
        font-size: 1.2em;
    }

    .links-externos img {
        max-width: 150px;
    }   
}

/* Telefono */
@media (max-width: 767px) {
    .barra-navegacion {
        justify-content: center;
    }

    .info-general {
        font-size: 0.9em;
    }

    .barra-navegacion a {
        text-align: center;
    }
    .artista {
        flex-direction: column;
    }

    .imagen-artista {
        width: 100%;
        min-width: 300px;
    }

    .contenedor-info-general {
        overflow: hidden;
    }

    .info-artista {
        font-size: 1em;
    }
    .links-externos img{
        max-width: 60px;
    }
}